/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

.footer {
	margin-top: 40px;
}

.user-stories {
  position: relative;
  text-align: justify;
  max-width: 700px;
  margin: 15px auto;
}
code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}
ol {
	list-style-position: outside;
}
ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}
.user-stories li {
  margin-bottom: 1em;
}

a {
	color: #2574A9;
}

body {
  height: 888px;
  background-color: #00ccff;
    background: linear-gradient(rgb(0, 122, 153) 0.2%, #00ccff 50%, rgb(179, 240, 255) 65%, yellow 95%, #ff6600);
}

div {
  margin: 2px;
}

#CC {
  margin-top: 8%;
  text-align: center;
  font-size: 15px;
  color: #555;
}